.vscode
input-cache/**
output/**
temp/**
template/**
input-cache/schemas-r5/fhir-single.xsd
input-cache/schemas-r5/fhir-xhtml.xsd
input-cache/schemas-r5/xml.xsd
input-cache/schemas-r5/xmldsig-core-schema.xsd
input-cache/txcache/http___unstats.un.org_unsd_methods_m49_m49.htm.cache
