<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="toc.html">Table of Contents</a></li>
  <li><a href="index.html">FHIR Shorthand</a></li>
  <li><a href="tutorial.html">Tutorial</a></li>
  <li><a href="reference.html">Language Reference</a></li>
  <li><a href="sushi.html">SUSHI</a></li>
  <li><a href="FSHQuickReference.pdf">Cheat Sheet</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Downloads<b class="caret"> </b></a>
    <ul class="dropdown-menu">
      <li><a href="fsh-tutorial-master.zip">fsh-tutorial-master.zip</a></li>
    </ul>
  </li>


  <!--li><a href="samples.html">Examples</a></li-->
</ul>