<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Tutorial<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="tutorial.html">Tutorial</a>
      </li>
    </ul>
  </li>
</ul>